<h1>Pizza-Delivery</h1>
<h2>Made Fast</h2>

<div class="blurb">We deliver fresh, tasty pizza really fast...sFacilis corporis at aut tempora sunt illum veniam earum repudiandae esse, sint porro hic vel animi quos sequi temporibus corrupti ex.lorem ipsum...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis corporis at aut tempora sunt illum veniam earum repudiandae esse, sint porro hic vel animi quos sequi temporibus corrupti ex.lorem ipsum...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis corporis at aut tempora sunt illum veniam earum repudiandae esse, sint porro hic vel animi quos sequi temporibus corrupti ex.lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis corporis at aut tempora sunt illum veniam earum repudiandae esse, sint porro hic vel animi quos sequi temporibus corrupti ex.lorem ipsum</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>